*.iml
**/*.iml
*.ipr
**/*.ipr
*.iws
**/*.iws
build
**/build
.gradle
**/.gradle
.idea
**/.idea
target
**/target
.classpath
**/.classpath
.project
**/.project
.settings
**/.settings
fileTemplates
fileTemplates/*
fileTemplates/**/*
gradlew.bat
lombok.config
node_modules
**/out
logs/
/mail-client/bin/
/mail-client/go.mod/
/mail-client/go.sum